/* Head CSS */
html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 4vw;
  letter-spacing: 4px;
  margin: 0 0 3%;
  line-height: normal;
  color: white;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.8vw;
  margin-bottom: 4rem;
}

/* Navigation bar section CSS*/
.navigation-bar {
  position: sticky;
  background: rgb(0, 51, 153);
  background: linear-gradient(0deg, rgba(0, 51, 153, 1) 0%, rgba(123, 27, 187, 1) 85%);
}

.navbar-brand {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  padding: 0;
  color: white;
}

.nav-link {
  font-family: "Quicksand", sans-serif;
  color: white;
}
/* Navigation bar section CSS end */


/* Main section CSS */
.main_section {
  background: rgb(0, 51, 153);
  background: linear-gradient(0deg, rgba(0, 51, 153, 1) 0%, rgba(83, 23, 208, 1) 25%, rgba(153, 0, 255, 1) 50%, rgba(95, 19, 216, 1) 75%, rgba(0, 51, 153, 1) 100%);

  height: 100vh;
  display: flex;
  padding: 3% 5% 5%;
  position: relative;
  overflow: hidden;
}

/* PS5 page header text */
.ps5_texts {
  position: absolute;
  display: flex;
  left: 30%;
}

/* List group element */
.list_group_element {
  position: absolute;
  display: flex;
  margin: 120px 0 0 150px;
  color: white;
}
/* Game list */
.list-group-item {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 0%);
}

.list-group-item-action {
  color: white;
  font-family: "Quicksand";
  font-size: 1.5vw;
  letter-spacing: 3px;
}
/* Game description */
.tab-pane {
  margin-left: 2%;
  width: 57vw;
}

.list_publisher {
  font-size: 1.3vw;
}

.list-group-item-action.active {
  border-color: #fff;
  background-color: #ffffff9e;
}

.col-4 {
  display: contents;
}

.tab-content {
  display: contents;
}

/* PS5 images */
.ps5_ctrl_left {
  position: absolute;
  right: 1150px;
  top: 300px;
  width: 25vw;
  transform: rotate(45deg);
}

.ps5_corner_img {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 40vw;
}

.ps5_initials {
  position: absolute;
  width: 7%;
  left: 16%;
}
/* Main section CSS end */


/* Footer CSS */
.container-footer {
  padding: 1% 3%;
  background-color: #e6e6e6;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: rgb(0, 51, 153);
  background: linear-gradient(180deg, rgba(0, 51, 153, 1) 0%, rgba(123, 27, 187, 1) 85%);
}

.social-icon {
  width: 18px;
  height: 16px;
  margin: 15px 10px 5px;
  justify-content: center;
  align-items: center;
  color: white;
}

.personal_fb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: white;
}

.personal_fb_link {
  font-family: "FiraGO", sans-serif;
  color: white;
}

.personal_fb_link:hover {
  color: #ffc400;
}
/* Footer CSS end */